/vendor
/node_modules
/.env
/.env.*
!/.env.example

/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
!/storage/logs/.gitignore

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/.idea
/.vscode
/.DS_Store
